@media (max-width: 1100px) {
  .columna {
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center; 
  }
}


/* @media (max-width: 800px) {
  .mes {
  width: 40%;
} */
